*{
    box-sizing: border-box;
}

body{
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

.tabuleiro{
    background-color: goldenrod;
    padding: 2%;
    display: flex;
    gap: 1%;
    width: 100%;
}

.casa{
    background-color: aquamarine;
    width:calc(100% / 7);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.disco{
    background-color: black;
    border: 10% solid white;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 4px 2px 5px black;
}
.disco.branco{
    background-color: white;
    border-color: black;
}